{% extends "account/email/base.html" %}

{% block content %}
    <p>Hello!</p>
    <p>Thank you for signing up with {{ site_name }} using your {{ provider }} account. To complete your registration and verify your email address, please click the button below:</p>

    <div style="text-align: center;">
        <a href="{{ confirmation_link }}" class="button">Confirm Email Address</a>
    </div>

    <p>If the button above doesn't work, you can also copy and paste this link into your browser:</p>
    <p style="word-break: break-all;">{{ confirmation_link }}</p>

    <p>This link will expire in 3 days.</p>

    <p>If you didn't create an account with {{ site_name }} using {{ provider }}, you can safely ignore this email.</p>
{% endblock %}
