{% extends "account/email/base.html" %}

{% block content %}
    <p>Hello!</p>
    <p>We received a request to reset the password for your account. To reset your password, click the button below:</p>

    <div style="text-align: center;">
        <a href="{{ reset_link }}" class="button">Reset Password</a>
    </div>

    <p>If the button above doesn't work, you can also copy and paste this link into your browser:</p>
    <p style="word-break: break-all;">{{ reset_link }}</p>

    <p>This link will expire in 1 hour.</p>

    <p>If you didn't request a password reset, you can safely ignore this email.</p>
{% endblock %}
